In [19]:
import pandas as pd
import json
df1=pd.read_csv("D:\CS312-Data-Analytics-and-Visualization\Lab1\district_level_service_msme.csv")
print(df1)

         STATE_NAME  Lg_Dist_Code         DISTRICT_NAME  MICRO  SMALL  MEDIUM  \
0    ANDHRA PRADESH           502            ANANTHAPUR   7797    238      10
1    ANDHRA PRADESH           503               CHITOOR   9623    351      19
2    ANDHRA PRADESH           505         EAST GODAVARI  12347    615      49
3    ANDHRA PRADESH           506                GUNTUR  11386    630      53
4    ANDHRA PRADESH           510               KRISHNA  15189   1007      79
..              ...           ...                   ...    ...    ...     ...
733     LAKSHADWEEP           553  LAKSHADWEEP DISTRICT    114      0       0
734      PUDUCHERRY           598              KARAIKAL    989     47       1
735      PUDUCHERRY           599                  MAHE     71     11       0
736      PUDUCHERRY           600           PONDICHERRY   5577    202      21
737      PUDUCHERRY           601                 YANAM     65      6       0

     Total Last_Updated
0     8045   2022-01-11
1     9993   2022-01-11
2    13011   2022-01-11
3    12069   2022-01-11
4    16275   2022-01-11
..     ...          ...
733    114   2022-01-11
734   1037   2022-01-11
735     82   2022-01-11
736   5800   2022-01-11
737     71   2022-01-11

[738 rows x 8 columns]

In [20]:
filepath="D:\CS312-Data-Analytics-and-Visualization\Lab1\district_level_manufacturing_msme.json"
f=open(filepath)
data=json.load(f)
# column=data['column_names']
df2=pd.DataFrame(data["data"],columns=['STATE_NAME','Lg_Dist_Code','DISTRICT_NAME','MICRO','SMALL','MEDIUM','Total','Last_Updated'])
print(df2)

         STATE_NAME Lg_Dist_Code         DISTRICT_NAME  MICRO SMALL MEDIUM  \
0    ANDHRA PRADESH          502            ANANTHAPUR  11370   483     33
1    ANDHRA PRADESH          503               CHITOOR  13037   592     51
2    ANDHRA PRADESH          505         EAST GODAVARI  16711  1044    123
3    ANDHRA PRADESH          506                GUNTUR  15955  1678    169
4    ANDHRA PRADESH          510               KRISHNA  20460  1673    165
..              ...          ...                   ...    ...   ...    ...
732          LADAKH            9            LEH LADAKH   1493    35      0
733     LAKSHADWEEP          553  LAKSHADWEEP DISTRICT    150     0      0
734      PUDUCHERRY          598              KARAIKAL   1248    56      2
735      PUDUCHERRY          599                  MAHE     95    17      0
736      PUDUCHERRY          600           PONDICHERRY   7698   413     50

     Total Last_Updated
0    11886   2022-01-11
1    13680   2022-01-11
2    17878   2022-01-11
3    17802   2022-01-11
4    22298   2022-01-11
..     ...          ...
732   1528   2022-01-11
733    150   2022-01-11
734   1306   2022-01-11
735    112   2022-01-11
736   8161   2022-01-11

[737 rows x 8 columns]

In [25]:
df2["SMALL"].astype(int).sum()

317222